<p id="notice"><%= notice %></p>

<h1>Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Challenge</th>
      <th>Submission</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.challenge.title %></td>
        <td><%= submission.submission %></td>
        <td><%= submission.passed ? 'passed' : 'failed' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
